.BarPlots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Bar-Select {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ClusterDistances-Select {
    margin-left: 15px;
}

.ClusterDistances-Select2 {
    display: none;
}