.BarPlots {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.Bar-Select {
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}

.ClusterDistances-Select {
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;

}

.ClusterDistances-Select2 {
    display: none;
}