.highlight {
    pointer-events: none;
}

.LinearPlot-tools {
    position: absolute;
    top: calc(0%);
    right: calc(0%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    /* left: calc(85%); */
    align-items: center;
    visibility: visible;
}

.LinearPlot-tools button {
    /* background-color: #e7e7e7;
    color: #000000; */
    /* border: black; */
    /* border-radius: 2px; */
    font-size: small;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    /* padding: 5px 10px; */
    width: 110px;
    height: 25.5px;
    outline: 0;
}

.LinearPlot-tools button.active { 
    background-color: #13a613;
}

#Grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
