/* .SampleViz {
    margin: 10px;
}*/

.SampleViz-select {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.SampleViz-pane {
    display: inline-block;
    border: 1px solid lightgray;
}

.SampleViz-separator {
    border: 1px solid lightgrey;
}

.tools {
    position: absolute;
    left: calc(81.5%);
    visibility: visible;
}

.SampleViz-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.SampleViz-plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SampleViz-scatter {
    margin-right: 10px;
}

.SampleViz-linear {
    margin-left: 10px;
}

.SampleViz-clusters {
    align-items: left;
    width: 39%;
}

button {
    vertical-align: middle;
}

/* .Sampleviz-cluster-select {
    width: 90px;
} */
.SampleViz-select button {
    margin-left: 7px;
}

.SampleViz-select select {
    margin-left: 7px;
}