.SampleViz {
    margin: 10px;
}

.SampleViz-select {
    margin-bottom: 10px;
}

.SampleViz-pane {
    display: inline-block;
    border: 1px solid lightgray;
}

.SampleViz-separator {
    border: 1px solid lightgrey;
}
