.sidebar {
  position: fixed;
  top: 0;
  width: 320px;
  left: -320px;
  height: 100%;
  border-right: 2px solid black;
  z-index: 1;
  /* overflow-x: hidden; */
    /* position: fixed;
    top: 0; */
    /* left: -400px;
    width: 400px; */
    /* left: -400px; */
    /* max-width: 0px;
    min-width: 0px; */
    /* height: 100%;
    max-width: 400px;
    min-width: 400px; */
    background-color: white;
    
    /* transition: left 300ms ease-out; */
  }
  .sidebar.active {
    /* margin-left: -500px; */
    left: 0;
    /* left: 0px; */
    /* background-color: aqua; */
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* flex: 1 1 0; */
  }

  .row-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex: 1 1 0;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
    background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
    border: 1px solid #afafaf
  }

  .title-bar {
    border-top: 2px solid black;
  }
  
  .closemenu {
    color: #000;
    position: absolute;
    right: -25px;
    z-index: 9999;
    line-height: 20px;
    height: 10%;
    width: 7%;
    font-weight: bold;
    font-size: 22px;
    top: 50%;
    cursor: pointer;
  }

  .closemenu2 {
    color: #000;
    position: absolute;
    right: -25px;
    z-index: 9999;
    line-height: 20px;
    height: 11%;
    width: 7%;
    font-weight: bold;
    font-size: 22px;
    top: 54%;
    cursor: pointer;
  }