.sidebar {
  position: fixed;
  top: 0;
  width: 320px;
  left: -320px;
  height: 100%;
  border-right: 2px solid black;
  z-index: 1;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.sidebar.active {
  left: 0;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  max-width: 321px;
}

.contents2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.row-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  /* width: 200px; */
  /* margin-bottom: 10px; */
  flex: 1 1 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
  border: 2px solid #4d4949;
  height: 30px;
  padding: 3px;
  align-items: center;
}

.title-bar {
  border-top: 2px solid black;
  margin: 3px;
}

.closemenu3 {
  color: #000;
  position: absolute;
  right: -25px;
  z-index: 9999;
  line-height: 20px;
  height: 3%;
  width: 7%;
  font-weight: bold;
  font-size: 22px;
  top: 46%;
  cursor: pointer;
}

.closemenu {
  color: #000;
  position: absolute;
  right: -25px;
  z-index: 9999;
  line-height: 20px;
  height: 3%;
  width: 7%;
  font-weight: bold;
  font-size: 22px;
  top: 50%;
  cursor: pointer;
}

.closemenu2 {
  color: #000;
  position: absolute;
  right: -25px;
  z-index: 9999;
  line-height: 20px;
  height: 3%;
  width: 7%;
  font-weight: bold;
  font-size: 22px;
  top: 54%;
  cursor: pointer;
}

.clustertable {
  height: 40%;
}