body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.App-title-bar {
    border-bottom: 2px solid black;
}

.App-title-bar h1 {
    display: inline;
    margin-right: 50px;
}

.App-row-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex: 1 1 0;
}

.App-file-upload-explanation {
    margin-right: 10px;
}

.App-status-pane {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.App-global-controls {
    display: grid;
    justify-content: center;
    padding-top: 25px;
}

.sampleviz-wrapper-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 25px;
}

.sampleviz-wrapper-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
}

#grid-container {
    display: flex;
    /* grid-template-columns: repeat(2, auto); */
    /* grid-auto-rows: auto; */
    justify-content: center;
    flex-direction: row;
    
}

#sampleviz-container {
    justify-content: center;
}

.marginContent {
    margin-left: 300px;
    overflow-x: hidden;
}

.Directions {
    /* position: absolute;
    top: 50%;
    left: 50%; 
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-width: 2;
    border-color: black;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4) */

    /* display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  */
    /* display: none; */
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid rgb(81, 47, 173);
    background-color: rgb(255, 255, 255);
    z-index:1002;
    overflow: auto;
}

.black_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}